@charset "utf-8";
* {
    margin: 0 auto;
    padding: 0;
}
body {
    background-color: #707070;
}
header {
    background-color: #7187da;
}
header nav ul{
    margin-left: 28%;
    height: 92px;
}
header nav ul li {
    text-decoration: none;
    display: inline;
    text-align: center;
    width: 10%;
    padding-left: 2%;
    padding-right: 2%;
}
header nav ul li a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    padding: 5px;
}
header nav ul li a:hover{
    color: darkblue;
}
#logo{
    position: absolute;
    top: 1%;
    left: 2%;
    width: 249px;
}
nav{
    line-height: 88.5px;
} 
footer {
    background-color: #7187da;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    color: white;
    text-align: center;
}
tr td:nth-child(1){
    text-align: right;
}
table input{
    width: 400px;
}
table textarea {
    width: 402px;
    height: 100px;
}
table select {
    width: 404px;
}
table {
    background-color: #707070;
    position: relative;
    top: 100px;
}
th {
    font-size: 40px;
}
th, td:nth-child(1) {
    border: 2px solid #7c7c7c;
    padding: 0;
    margin: 0;
}
tr td:nth-child(1) {
    background-color: #7187da;
}
td {
    position: relative;
    top: 8px;
}
#submit {
    position: relative;
    top: 105px;
    left: 62.2%;
}
#ad1 {
    height: 600px;
    width: 280px;
    position: absolute;
    top: 92px;
    cursor: pointer;
}
#ad2 {
    height: 600px;
    width: 280px;
    position: absolute;
    top: 92px;
    right: 0;
    cursor: pointer;
}